//resets, variables, mixins, utility classes


//colors
$color-primary:#E5E5E5;

$color-secondary: #FF6B6B;
$color-grey: #F5F5F5;

$color-white:#fff;
$color-black: #000;
$color-small-circle: #FFA8A8;
$color-medium-circle: #FFC9C9;
$color-big-circle: #FFE3E3;

 
//fonts
 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
$font-family-text:'Open Sans', sans-serif;
$font-width-regular: 400;
$font-width-bold: 700;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;  
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  
}

 



 