// container y sistema de grilla 
.container {
    display: grid;
    grid-template-rows: 1fr 3fr; //2 rows HEADER MAIN
    grid-template-columns: 1fr;
    font-family: $font-family-text;
    font-weight: 400;
    color: $color-black;
}